
.wrapper{
    margin: auto;
    width: 510px;
    height: 320px;
    background: #12416b;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb();
}

.logo img{
    float: right;
    width: 20%;
    margin: 20px 20px;
    color: #fff;
    text-transform: uppercase;

}

.logo h2 span {
    margin-left: 1px;
}


.chip img{
    width: 100%;
    padding: 30px;
}


.chip i {
    font-size: 2.5rem;
    color: #fff;
    margin: 10px 20px;
}

.chip img {
    width: 60px;
}

.chip .signal {
    width: 35px;
    position: absolute;
    margin-top: 5rem;
    right: 3rem;
    opacity: 0.8;
}

.acc-details{
    background: linear-gradient(#eee, rgb(196,196,196));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 0px 0px #fff;
}

.acc-no{
    margin: 1px 2.5rem;
}
.acc-no span {
    font-size: 2rem;
    word-spacing: 1px;
    font-family: 'monospace';
}
.acc-name{
    margin: 10px 0 0 2rem;
    display: flex;
}
.acc-name h4{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 80px;
    font-family: 'Poppins',sans-serif;
}
.acc-name span{
    padding:20px;
    font-size: 1.2rem;
}

form {
    display: flex;
    justify-content: center;
}